@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
}

body
{
    margin: 1.4rem;
    margin-left: 1.5rem;
    text-align: center;
    font-family: 'Dovemayo_gothic';
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-family: 'PyeongChangPeace-Bold';
    padding: 2.5vh 0px;
    background-color: #444444;
    color: #ffffff;
}

hr
{
    margin-top: 1.6rem;
}

tr, td
{
    font-size: 1.1rem;
}

td
{
    width: 20vw;
    vertical-align : middle;
}

#first
{
    width: 10vw;
}

#title_link
{
    text-decoration: none;
    color: #444444;
}

#write
{
    margin-top: 0.8rem;
    float: right;
}

label
{
    font-weight: 800;
    font-size: 1.1rem;
}

input
{
    font-size: 1.1rem;
    margin: 0.5rem;
    width: 80vw;
    max-width: 800px;
    text-align: center;
    border: 0;
    outline: none;
}

#bno, #contents
{
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid #dee2e6;
}

#title, #date
{
    border: 1px solid #dee2e6;
}

#bno, #date
{
    height : 4vh;
}

#title
{
    height: 5vh;
}

#contents
{
    height: 42vh;
}

.btn
{
    margin: 0.3rem;
}