@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
}

#header
{
    text-decoration: none;
    color: white;
}

body
{
    margin: 1.3rem;
    text-align: center;
    font-family: 'Dovemayo_gothic';
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-family: 'PyeongChangPeace-Bold';
    padding: 2.5vh;
    background-color: #444444;
    margin: 0 auto;
    max-width: 1000px;
}

tr, td
{
    font-size: 1.05rem;
}

td
{
    width: 20vw;
    vertical-align : middle;
}

label[for=bno],[for=date],[for=title],[for=contents]
{
    font-weight: 800;
    font-size: 1.05rem;
}

input
{
    font-size: 1.05rem;
    width: 100%;
    max-width: 900px;
    text-align: center;
    border: 0;
    outline: none;
    margin-top: 0.6rem;
}

#first
{
    width: 10vw;
}

#third
{
    width: 17vw;
}

#title_link
{
    text-decoration: none;
    color: #212529;
}

#write
{
    margin-top: 0.8rem;
}

#bno, #contents
{
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid #dee2e6;
}

#title, #date
{
    border: 1px solid #dee2e6;
}

#bno, #date
{
    height : 4vh;
}

#title
{
    height: 5vh;
}

#contents
{
    height: 42vh;
}

.btn
{
    margin: 0.3rem;
}

.bno, .title, .cont, .date
{
    padding: 0.3rem;
}

.cont
{
    margin-bottom: 0.9rem;
}